@using Promises.Models
@model LoginViewModel


<h2>Promises in action!</h2>
<div class="row">
    <div class="col-md-8">
  <section id="socialLoginForm">
          <h4 id="title"></h4>
          <hr>
          <div id="content">
                
          </div>
          <img src="http://www.sendokgarpu.com/sg/assets/images/horizontal_ajax_loading.gif" id="loading-icon"/>
      </section>
    
    </div>
    <div class="col-md-4">
        <button id="trigger" class="btn btn-default">RESTART</button>
        <pre id="console"></pre>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/q.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DIPUN.js"></script>
}